<!DOCTYPE html>
<html>
<head>
<title>Bookings</title>
<style>
td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
h1{
	text-align:center;
}

table{
	width: 100%;
} 

.buttonsm {
	margin-top: 15px;
    margin-left: 700px;
}
</style>
<!-- <link rel="stylesheet" href="@{css/list.css}"> -->
</head>
<body>

<h1>Bookings</h1>

<table>
	<tr>
		<th style="width: 60px;">Booking ID</th>
		<th style="width: 180px;">Hotel</th>
		<th style="width: 60px;">Room</th>
		<th style="width: 150px;">Username</th>
		<th style="width: 280px;">Check in</th>
        <th style="width: 280px;">Check out</th>
        <th style="width: 100px;">Total</th>
        <th style="width: 60px;"></th>
        <th style="width: 60px;"></th>
	</tr>
	<tr th:each="list : ${list}">
		<td th:text="${list.id}"></td>
<!-- 		<td th:text="${list.hotel_id}"></td>
		<td th:text="${list.room_id}"></td> -->
		<td th:text="${list.hotel_name}"></td>
		<td th:text="${list.room_name}"></td>
		<td th:text="${list.username}"></td>
		<td th:text="${list.checkin}"></td>
		<td th:text="${list.checkout}"></td>
		<td th:text="${'$'+list.total}"></td>
		<td><a th:href="@{'/user/booking/update?id='+${list.id}}">Edit</a></td>
		<td><a th:href="@{'/user/booking/delete?id='+${list.id}}">Delete</a></td>
	</tr>
</table>
<a href="/user"><button class="buttonsm">Return</button></a>
</body>
</html>
